<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <div class="container-fluid">
    <a href="/" class="navbar-brand">yDown</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        {{#if session.isLoggedIn}}
        <a class="nav-link" href="/videos">Library</a>
        <a class="nav-link" href="/logout">Logout</a>
        {{else}}
        <a class="nav-link" href="/login">Login</a>
        <a class="nav-link" href="/signup">Signup</a>
        {{/if}}
      </div>
      <form class="d-flex" action="/videos" method="POST">
        <input class="form-control me-2" type="url" name="url" placeholder="Video URL">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>