ul {
  list-style-type: none;
  overflow: hidden;
}


li {
    display: inline;
    padding: 14px 16px;
}


a {
    color: #000000;
    text-decoration: none;
}


li:hover {
    background: #000000;
}

a:hover {
    color: #eeeeee;
}